/*TODO: Use the * selector to reset the margin and padding to 0px*/
* {
  margin: 0px;
  padding: 0px;
}

/*TODO: Add a background color or image to your website*/
body {
  background-color: #FFFFFF;
  text-align: center;
  color: #6850B7;
}
/*TODO: Add styling rules for the text and images on your website.*/
.heading {
  font-size: 290px;
  border: 3px solid white;
}
.port-heading {
  font-size: 50px;
}
p {
  padding-top: 1em;
  padding-left: 10em;
  padding-right: 10em;
  font-size: 25px;
}

/*TODO: Create a new style rule by the class attribute and style the header section(s) of your website. */
.header {
  background-image: url("https://cdn.glitch.com/4d0bb630-2067-4ed3-8db0-46a7ca0c3196%2FIMG_2837.PNG?v=1595299682286");
  background-repeat: no-repeat;
  background-size: cover;
}

/*TODO: Style the Nav Bar by selecting the u1, li, and li a elements*/
ul {
  list-style-type: none;
  background-color: #6850B7;
}
li {
  display: inline;
}
li a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 40px;
}

/*TODO: Create a Flexbox to create a responsive layout. Use the property display: flex;*/
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.project {
  padding-top: 1em;
  padding-bottom: 1em;
}
